<p id="notice"><%= notice %></p>

<p>
  <strong>Poll:</strong>
  <%= @question.poll %>
</p>

<p>
  <strong>Event:</strong>
  <%= @question.event %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
