<style type="text/css">
body {
  background-color: rgb(134, 136, 137);
}

h2, h3, h4 {
  color: rgb(248, 146, 49);
  font-family: 'Oswald', sans-serif;
}

#userSettingsContainer {
  width: 90%;
  height: 100vh;
  min-height: 100%;
  overflow: auto;
  background-color: white;
}

input[type="submit"] {
  background-color: rgba(248, 146, 49, .4);
}

#interestContainer {
  width: 70%;
  background-color: rgb(232, 232, 232);
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 50px;
}

#cancelContainer {
  width: 94%;
  border: 3px solid rgb(232, 232, 232);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  font-size: 12px;
}

#submit {
  width: 200px;
  height: 50px;
  background-color: rgba(248, 146, 49, 1);
}

</style>


<div class="container" id="userSettingsContainer">
  <div class="text-center">
<h2>Edit <%= resource_name.to_s.humanize %> Settings</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="settings-email-label"><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="settings-email-label"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div class="settings-email-label"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div class="settings-email-label"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div><br>

  <div id="interestContainer"><h3><%= f.label :interest %></h3><br />
    
    <%= check_box_tag "Conferences", :interest %> 
    <%= label_tag "Conferences"%><br>
    
    <%= check_box_tag "Trade Shows", :interest %> 
    <%= label_tag "Trade Shows" %><br>

    <%= check_box_tag "Codeathons and Hackathons", :interest %> 
    <%= label_tag "Codeathons and Hackathons"%><br>

    <%= check_box_tag "Courses", :interest %> 
    <%= label_tag "Courses"%><br>
      
    <%= check_box_tag "Job Fair", :interest %> 
    <%= label_tag "Job Fair"%><br>

    <%= check_box_tag "Charity Events & Fundraisers", :interest %> 
    <%= label_tag "Charity Events & Fundraisers"%><br>

    <%= check_box_tag "Classes", :interest %> 
    <%= label_tag "Classes"%><br>

    <%= check_box_tag "Online", :interest %> 
    <%= label_tag "Online"%><br>
  
    <div><%= f.submit "Update", id: "submit" %></div>
  </div>
<% end %>
  
  <div id="cancelContainer">
    <h4>Cancel my account</h4>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  </div>


  <div class="settings-back-link">
    <%= link_to "Back", :back %>
  </div>
</div>
</div>

