<div class="signUpScreen"> 
  <div class="authHeader">
    <h5>Immediately filter through thousands of events to create your personalized list.</h5>
  </div>

  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="interestHeader"><%= f.label :interest %>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        <div class="interestBox">
          <%= check_box_tag "Codeathons and Hackathons", :interest %> 
          <%= label_tag "Codeathons and Hackathons"%>
        </div>

        <div class="interestBox">
          <%= check_box_tag "Charity Events & Fundraisers", :interest %> 
          <%= label_tag "Charity Events & Fundraisers"%>
        </div>
      
        <div class="interestBox">
          <%= check_box_tag "Conferences", :interest %> 
          <%= label_tag "Conferences"%>
        </div>
      
        <div class="interestBox"> 
          <%= check_box_tag "Trade Shows", :interest %> 
          <%= label_tag "Trade Shows" %>
        </div>

        <div class="interestBox">
          <%= check_box_tag "Festivals", :interest %>
          <%= label_tag "Festivals"%>
        </div>

        <div class="interestBox">
          <%= check_box_tag "Livecasts", :interest %>
          <%= label_tag "Livecasts"%>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="interestBox">
          <%= check_box_tag "Job Fair", :interest %>
          <%= label_tag "Job Fair"%>
        </div>

        <div class="interestBox">
          <%= check_box_tag "Courses", :interest %> 
          <%= label_tag "Courses"%>
        </div>

        <div class="interestBox">
          <%= check_box_tag "Classes", :interest %> 
          <%= label_tag "Classes"%>
        </div>

        <div class="interestBox">
          <%= check_box_tag "Online", :interest %> 
          <%= label_tag "Online"%>
        </div>

        <div class="interestBox">
          <%= check_box_tag "Fireside Chat", :interest %> 
          <%= label_tag "Fireside Chat"%>
        </div>
      </div>
    </div>

    <br><br>

    <div><%= f.label :email %>
    <%= f.email_field :email, autofocus: true %></div>

    <br>

    <div><%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %></div>

    <br><br>

    <div><%= f.submit "Sign up" %></div>
    <br>
  <% end %>

  <%= render "devise/shared/links" %>


</div>
