<h1> Registration </h1>
<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
  <% end %>
    </ul>
<% end %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Register" %>

<% end %>
