<body class="users-new">

<h1> Registration </h1>

  <%= form_for @user do |f| %>
  
    <% if @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li class="errors"><%= msg %></li>
    <% end %>
      </ul>
  <% end %>

<div class="registration_form">
    <%= f.label :email %>
    <%= f.text_field :email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.submit "Register" %>

  <% end %>
</div>
