<style type="text/css">

	/*carousel*/
	.item{
	    background: white;    
	    text-align: center;
	    height: 300px !important;
	}

	.carousel{
	    margin-top: 20px;
	}

	/*end carousel*/

	.container-fluid {
		padding: 0px 0px
	}

	#top_bar {
		/*background-color: black;*/
		color: white;
		font-size: 1em;
		margin: 0px 0px;
		padding: -1px 0;
	}

	#logo_name {
		color: white;
		font-size: 3em;
		padding-top: 100px;
		margin: 0px;
	}

	.welcome_logo {
		width: 450px;
		height: auto;
		position: absolute;
		left: 36%;
		top: 20%;
	}

	#header_text {
		font-size: 3em;
		font-weight: 4000;
		border-right: 1px solid black;
		padding: 15px 20px 15px 10px;
		text-align: right;
	}

	#article_text {
		font-size: 1em;
		padding-top: 3em;
		padding-right: 5px;
		margin-bottom: 30px;
	}

	.events_link {
		font-size: 2em;
		background-color: orange;
		color: rgb(50, 50, 50);
		border-radius: 10px;
		padding: 15px;
		font-family: 'Oswald', sans-serif;
	}

	#sign_up_link {
		color: black;
	}

	a.events_link:hover {
			text-decoration: none;
	}



	@media only screen and (max-width: 767px) {
		/*carousel*/
		.item{
		    background: white;    
		    text-align: center;
		    height: 150px !important;
		}

		#header_text {
			text-align: center;
			padding-bottom: 20px;
			border-right: none;
		}

		#article_text  {
			text-align: center;
			padding-top: 1em;
			margin-left: 5px;
			margin-right: 5px;
		}

		#find_events_link {
			text-align: center;
		}

		#santa_monica_image {
			background-image: url('https://launchrock-assets.s3.amazonaws.com/background-files/8EZADCXZ_1396659538110.png');
			height: 150px;
		}

		#logo_name {
			color: white;
			font-size: 2em;
			padding-top: 50px;
			margin: 0px;
		}

		.welcome_logo {
			width: 250px;
			height: auto;
			position: absolute;
			left: 20%;
			top: 20%;
		}

		#header_text {
			font-size: 2em;
			margin-left: 5px;
			margin-right: 5px;
		}

		.events_link {
			font-size: 1.5em;
		}

		#welcomeBtnContainer {
			position: absolute;
			left: 20%;
		}
	}
</style>

<!--Top Bar -->
<header>
	<div class="container-fluid home" style="background-color:rgba(45, 45, 45, 1);">
		<div class="row">
			<div class="col-xs-12 text-center">
				<p id="top_bar">Prototype Launching May 2014</p>
			</div>
		</div>

			<!-- Carousel -->
	  <div id="tempCarousel" class="carousel slide" data-interval="6500" data-ride="carousel">
	  	<!-- Carousel indicators -->
	      <ol class="carousel-indicators">
	          <li data-target="#tempCarousel" data-slide-to="0" class="active"></li>
	          <li data-target="#tempCarousel" data-slide-to="1"></li>
	          <li data-target="#tempCarousel" data-slide-to="2"></li>
	      </ol>   
	     <!-- Carousel items -->
	      <div class="carousel-inner">
	          <div class="item carousel-fade">
	            <div id="santa_monica_image">
								<%=image_tag("Logo_final.png", class: "welcome_logo")%>
							</div>
	          </div>
	          <div class="active item carousel-fade">
	            <div id="geom_image">
								<%=image_tag("Logo_final.png", class: "welcome_logo")%>
							</div>
	          </div>
	          <div class="item carousel-fade">
	            <div id="geom_image">
								<%=image_tag("Logo_final.png", class: "welcome_logo")%>
							</div>
	          </div>
	      </div>
	      <!-- Carousel nav -->
	      <a class="carousel-control left" href="#tempCarousel" data-slide="prev">
	          <span class="glyphicon glyphicon-chevron-left"></span>
	      </a>
	      <a class="carousel-control right" href="#tempCarousel" data-slide="next">
	          <span class="glyphicon glyphicon-chevron-right"></span>
	      </a>
	  </div>
	<!-- End Carousel -->

	</div>
</header>


<!-- Description -->
<article>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h1 id="header_text">Your Gateway to LA's Tech Ecosystem</h1>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12	">
				<p id="article_text">Access the things you need to fuel your success within the Los Angeles tech/startup Ecosystem - people, events, courses, capital, jobs and more!</p>
				<div id="welcomeBtnContainer">
					<%= link_to 'Find Events', events_path, class: 'events_link' %>
					<%= link_to 'Sign Up', new_user_registration_path, class: 'events_link', id: 'sign_up_link' %>
				</div>
			</div>
		</div>
	</div>
</article>

