<style type="text/css">
	.badge {
		font-size: 1em;
		background: #D15;
	}

	#explore a{
		font-weight: bold;
		text-decoration: none;
		padding-right: 5px;	
	}

	button#button_down {
		background-color: transparent;
		border: none;
	}

</style>


<nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Access Fuel</h2>
				<h5>How can we help fuel your success?</h5>
			</div>
		</div>
	</div>
</nav>

<article>
	<%= render 'carousel' %>

</article>
	

<article>
	<div class="container-fluid content">
		<div id="explore" style="float:right;"><%= link_to 'Explore Events', events_path %></div>
		<h2 id="upcoming">Upcoming Events <span class="badge"><%=@events.count %></span></h2>
		<% @upcoming_events.each do |event| %>
		<div class="row row_events" data-toggle="collapse" data-target="#data">
			<div class="column1 col-date col-md-1 col-sm-1 col-xs-2">
				<div class="col-md-12"><%= month_converter(event.date).upcase %></div>
				<div class="date col-md-12 side"><%= day_converter(event.date) %></div>
				<div class="col-md-12"><%= weekday_converter(event.date).upcase %></div>
			</div>

			<div class="col-sm-10 col-xs-8 col-md-10">
				<ul>
					<li class="event_header"><%= link_to event.name, event_path(event) %></li>
					<li class="event_date"><%= date_converter(event.date) %></li>
					<li><%= event.venue %> <%= event.city %></li>
				</ul>
			</div>

			<div class="col-md-1 col-sm-1 col-xs-2">
				<i class="glyphicon glyphicon-star index" onclick = "checkCookie(<%= event.id %> )"></i>
			</div>
		</div>

		<div class="row row_data text-center">
			<div class="col-md-12">
				<button id="button_down" type="button" data-toggle="collapse" data-target="#data<%=event.id%>">
				  <i class="glyphicon glyphicon-chevron-down"></i>
				</button>
			</div>
		</div>

		<div class="collapsing row" id="data<%=event.id%>">
			<div class="col-md-12">
				<%= truncate(strip_tags(event.description), length: 500, separator: ' ') %>
			</div>
		</div>
		<% end %>
	</div>
</article>

<script>
$(".glyphicon-star.index").click(function(){
	$(this).toggleClass('yellow');
	});
</script>


<script>
	addYellowClass();
</script>
