<style type="text/css">
	.badge {
		font-size: 1em;
		background: #D15;
	}

	#explore a{
		font-weight: bold;
		text-decoration: none;
		padding-right: 5px;	
	}

/*	nav {
		height: 200px;
		width: 100%;

	}

	#logo {
		height: 95%;
		width: 100%;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		background-image: url("Logo_final.png") no-repeat center fixed;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
  		background-size: cover;	

	}*/

</style>


<nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<div id="logo"><img src="../../images/Logo_final.png" height="200px" width="100%">
				</div>
			</div>
		</div>
	</div>
</nav>

<article>
	<%= render 'carousel' %>

</article>
	

<article>
	<div class="container-fluid content ">
		<div id="explore" style="float:right;"><%= link_to 'Explore Events', events_path %></div>
		<h2 id="upcoming">Upcoming Events <span class="badge"><%=@events.count %></span></h2>
		<% @upcoming_events.each do |event| %>
		<div class="row row_events" data-toggle="collapse" data-target="#data">
			<div class="column1 col-date col-md-1 col-sm-1 col-xs-2">
				<div class="col-md-12"><%= month_converter(event.date).upcase %></div>
				<div class="date col-md-12 side"><%= day_converter(event.date) %></div>
				<div class="col-md-12"><%= weekday_converter(event.date).upcase %></div>
			</div>

			<div class="col-sm-10 col-xs-8 col-md-10">
				<ul>
					<li class="event_header"><%= link_to event.name, event_path(event) %></li>
					<li class="event_date"><%= date_converter(event.date) %></li>
					<li><%= event.venue %> <%= event.city %></li>
				</ul>
			</div>

			<div class="col-md-1 col-sm-1 col-xs-2">
				<i class="glyphicon glyphicon-star index" onclick = "checkCookie(<%= event.id %> )"></i>
			</div>
		</div>

		<div class="row row_data text-center">
			<div class="col-md-12">
				<button id="button_down" type="button" data-toggle="collapse" data-target="#data<%=event.id%>" data-parent="#accordion">
				  <i class="glyphicon glyphicon-chevron-down"></i>
				</button>
			</div>
		</div>

		<div class="collapse row row_description" id="data<%=event.id%>">
			<div class="col-md-12">
				<%= truncate(strip_tags(event.description), length: 200, separator: ' ') { link_to "More", event_path(event) }%>
			</div>
		</div>
		<% end %>
	</div>
</article>

<script>
$(".glyphicon-star.index").click(function(){
	$(this).toggleClass('yellow');
	});
</script>


<script>
	addYellowClass();
</script>
	
