<style>
  .row_events {
    border-top: 1px solid #ccc;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .event_header {
    font-size: 1em;
  }

  .event_date {
    font-size: .70em;
  }

  .location {
    font-size: .70em;
  }

  ul#col1 {
    /*background-color: red;*/
  }

  ul#col2 {
    /*background-color: blue;*/
    height: 70px;
  }

  #column2 {
    padding-left: 0px;
    /*padding-right: 0px;*/
  }

  #column1 {
    padding-right: 0px;
  }

  .btn.btn-primary {
    margin: 0 auto;
    display: block;
  }

</style>

<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">How to Use</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      swipe instructions
    </div>
  </div>
</div>

<div class="container-fluid content">
  <% @events.each do |event| %>
  <div class="event_wrapper">
    <div class="red_overlay"></div>
    <div class="row row_events">
      <div class="col-md-9 col-sm-9 col-xs-9" id="column1">
        <ul id="col1" style="padding-left: 15px">
          <li class="event_header"><%= link_to truncate(event.name, length: 25), event_path(event) %></li>
          <li class="location"><%= event.venue %> <%= event.city %></li>
          <li class="event_date"><%= date_converter(event.date) %>, <%= time_converter(event.date)%></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3" id="column2">
        <ul id="col2"><li> </li></ul>
      </div>


    </div>

    <div class="green_overlay"></div>
  </div>
  <% end %>
</div>

<!-- End of Event Listing container -->

<!-- Favorite Function -->
<script>
$(".glyphicon-star.index").click(function(){
  $(this).toggleClass('yellow');
  });
</script>

<script>
  addYellowClass();
</script>

