<style>

  #close {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .instructions {
    text-align: center;
    margin: 15px;
    width: 38%;
    display: inline-block;
    font-weight: 500;
  }

  .modal-backdrop {
    background-color: rgba(0,0,0,0.8) !important;
  }

  .row_events {
    border-top: 1px solid #ccc;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 0px;
    position: relative;
  }

  .event_header {
    font-size: 1em;
  }

  .event_date {
    font-size: .70em;
    font-weight: 500;
  }

  .location {
    font-size: .70em;
    font-weight: 500;
  }

  #column2 {
    margin-top: -20px;
  }

  .event_photo_index {
    max-height: 90px;
    max-width: 60px;
    padding-top: 15px;
    pointer-events: none;
  }

  ul#col1 {
    /*background-color: red;*/
    list-style-type: none;
  }

  ul#col2 {
    /*background-color: blue;*/
    height: 70px;
    list-style-type: none;
  }

  #column2 {
    padding-left: 0px;
    /*padding-right: 0px;*/
  }

  #column1 {
    padding-right: 0px;
  }

  .btn.btn-default {
    margin: 0 auto;
    display: block;
    width: auto !important;
  }

/*jquery mobile test*/
  html, body { padding: 0; margin: 0; }
  html, .ui-mobile, .ui-mobile body {
    height: 105px;
  }
  .ui-mobile, .ui-mobile .ui-page {
    min-height: 105px;
  }

  div.box {
    width: 30em;
    height: 3em;
    background-color: #108040;
  }
  
  div.event_wrapper.swipeleft {
    background-color: rgb(238, 103, 89) !important;
  }

  div.box.swipeleft {
    background-color: #7ACEF4;
  }

  div.event_wrapper.swiperight {
    background-color: rgb(255, 194, 137) !important;
  }

  .row_events {
    pointer-events: none;
  }

  .row_events a{
    pointer-events: auto;
  }

</style>

<button class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-info-sign"></span></button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <p class="instructions">
        Swipe left to not like an event<br>
        <span class="glyphicon glyphicon-arrow-left"></span>
      </p>
      <p class="instructions">
        Swipe right to like an event<br>
        <span class="glyphicon glyphicon-arrow-right"></span>
      </p>
      <button type="button" class="btn btn-default" id="close" data-dismiss="modal">Okay</button>
    </div>
  </div>
</div>

<div data-role="main" class="container-fluid content ui-content">
  <% @events.each do |event| %>
  <div class="event_wrapper">
     <div class="row row_events">
      <div class="col-md-9 col-sm-9 col-xs-9" id="column1">
        <ul id="col1" style="padding-left: 15px">
          <li class="event_header"><%= link_to truncate(event.name, length: 25), event_path(event) %></li>
          <li class="location"><%= truncate(event.venue, length: 25) %> <%= truncate(event.city, length: 15) %></li>
          <li class="event_date"><%#= date_converter(event.date) %>
           <%= event.event_date.strftime('%a, %b %d, %Y - %l:%M %p') %></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3" id="column2">
        <img src="<%= event.group_photo %>" class="event_photo_index">
      </div>
    </div>
  </div>
  <% end %>
</div>
<!-- End of Event Listing container -->

<!-- Favorite Function -->
<script>
$(".glyphicon-star.index").click(function(){
  $(this).toggleClass('yellow');
  });
</script>

<script>
  addYellowClass();
</script>
  
<script>
$(document).ready(function(){

  $(document).bind("mobileinit", function () {
    $.event.special.swipe.horizontalDistanceThreshold = 10;
    horizontalDistanceThreshold = Math.round(30 / window.devicePixelRatio);
  });

  var els = document.querySelectorAll("div.event_wrapper");

  // var swipeModule = (function() {
  //   var swipeModule = function () {
  //     var self = this;
  //     self.currentState = 0;
  //     self.speed = 500;
  //     self.init();
  //   };

  //   swipeModule.prototype = {
  //     init: function(){

  //     },
  //     swipeAction: function(target, distance, duration) {
  //       target.css("-webkit-transition-duration", (duration/1000).toFixed(1) + "s");
  //       target.css("-webkit-transform", "translate3d("+distance.toString() +"px,0px,0px)");
  //     }

  //   };
  //   return swipeModule;
  // })();
  // var swiper = new swipeModule();

  // $.event.special.swipe.extend = {
  //   start: function() {
  //     console.log("startedd");
  //   }
  // }

  $( "div.event_wrapper" ).on("swipe", function(evt){
    // evt.preventDefault();
    // console.log("swipestart", evt.swipestart);
    // console.log(evt);
    // console.log("all", $.event.special.swipe);
    // console.log("h threshold", $.event.special.swipe.horizontalDistanceThreshold);
    // console.log("v threshold", $.event.special.swipe.verticalDistanceThreshold);
    swipeDroid(evt);
  });


  $("div.event_wrapper").on("touchcancel", swipeEndEnabler);

  function swipeEndEnabler( ){
    $( event.target ).addEventListener( "touchend", false )
    console.log("homo");
  };

  // $.event.special.swipe.prototype = {
  //   start: function() {
  //     console.log("startedd");
  //   }
  // }

  function swipeDroid(tmpTarget){
    if (Math.abs(tmpTarget.swipestop.coords[0] - tmpTarget.swipestart.coords[0]) > 5 && Math.abs(tmpTarget.swipestop.coords[1] - tmpTarget.swipestart.coords[1]) < 125) {
      tmpTarget.preventDefault()
      console.log("preventDefault");
    }
  }

    // Callback function references the event target and adds the 'swipeleft' class to it
  function swipeleftHandler( event ){
    $( event.target ).addClass( "swipeleft" ).delay( 800 ).fadeOut( "slow" );
  }

  // Bind the swipeleftHandler callback function to the swipe event on div.box
  $( "div.event_wrapper" ).on( "swipeleft", swipeleftHandler );

  // Bind the swiperightHandler callback function to the swipe event on div.box
  $( "div.event_wrapper" ).on( "swiperight", swiperightHandler );
 
  // Callback function references the event target and adds the 'swiperight' class to it
  function swiperightHandler( event ){
    $( event.target ).addClass( "yellow" ).delay( 800 ).fadeOut( "slow" )
    var info = $(event.target).find('a')
    var link = info[0]
    var string = String(link)
    var start = string.lastIndexOf('/')
    var num = string.substring(start+1, string.length)
    checkCookie(parseInt(num))
  }
});

</script>

 <script>
// $('#whole_thang').on('taphold', function(){
//   var current_id = '<%= params[:id] %>'
//   var current_name = '<%= @event.name %>'
//   console.log(current_name)
//   console.log(current_id)
//   checkCookie(current_id.to_i);
//   console.log("Cookie: " + current_id + " Saved");
//   alert("Cookie: " + current_name + " Saved");
// })
// </script>



