<% is_fav = params[:time_period]=="fav" %>

<% if is_fav && @info.empty? %>
  <p class="error">
    <span class="error-icon">!</span>
    You don't have any events saved yet. Please select events of interest to you.
  </p>
<% end %>

<div data-role="main" class="container-fluid">
  <% counter = 0 %>
  <% @events.each do |event| %>
    <% counter += 1 %>
    <div class="event_wrapper <%= event.id %>">
      <div class="row row_events">
        <div class="col-md-8 col-sm-8 col-xs-8" >
          <ul>
            <li class="event_header">
              <%= link_to truncate(event.name, length: 70, separator: ' '), event_path(event) %>
            </li>
            <li class="location">
              <%= truncate(event.venue, length: 30) %> <%= truncate(event.city, length: 25) %>
            </li>
            <li>
              <% if event.group.present? %>
                <p class="group_info">Hosted by <%= event.group %></p>
              <% end %>
            </li>
          </ul>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
          <!-- Favorite Button -->
          <% if current_user %>
            <button type="button" class="btn btn-default likebutton">
              <span class="glyphicon glyphicon-star"></span>
            </button>
          <% else %>
            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default likebutton">
              <span class="glyphicon glyphicon-star"></span>
            </button>
          <% end %>
          <% if event.group_photo.present? %>
            <% photo = event.group_photo %>
          <% else %>
            <% photo = "/assets/Icon_final2.png" %>
          <% end %>        
          <img src="<%= photo %>" class="event_photo_index text-centered">
          <div class="event_photo_overlay">
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>

<!-- End of Event Listing container -->

<!-- Sign Up Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create Account</h4>
      </div>
      <div class="modal-body">
        <%= render 'events/registration' %>
      </div>
    </div>
  </div>
</div>

<!-- Sign In Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Log in</h4>
      </div>
      <div class="modal-body">
        <%= render 'sessions/new' %>
      </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(function(){

    $( ".likebutton" ).on( "click", swiperightHandler );

    function swiperightHandler( event ){
      var e = $(this).closest('.event_wrapper');
      console.log(e);
      var info = e[0].classList[1];
      var num = parseInt(info);
      checkCookie(num);
      var hasYellow = $( event.target ).parents(".event_wrapper").hasClass( "yellow" );
      var action = hasYellow ? "removed from" : "added to";
      alert(e[0].innerText + 'has been '+action+' your favorites.');

      // turn this glyphicon-star orange.
      $( event.target ).parents(".event_wrapper").toggleClass( "yellow" );
    }
  });

</script>

<script>
  var matches = []
  var d = document.getElementsByClassName('event_wrapper');
  for (var i=0; i<d.length; i++) {
    var id = parseInt(d[i].classList[1])
    if (document.cookie.indexOf('id' + id)!= -1) {
      d[i].className += " yellow";
      matches.push(id);
    }
  }
</script>


