<div data-role="main" class="container-fluid content ui-content">
  <% @events.each do |event| %>
  <div class="event_wrapper <%=event.id%>">
     <div class="row row_events">
      <div class="col-md-6 col-sm-6 col-xs-10" id="column1">
        <ul id="col1">
          <li class="event_header">
          <%= link_to event.name, event_path(event) %>


          <li class="location"><%= truncate(event.venue, length: 30) %> <%= truncate(event.city, length: 25) %></li>
          <li class="event_date"><%#= date_converter(event.date) %>
           <%= event.event_date.strftime('%a, %b %d, %Y - %l:%M %p') %></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-2" id="column2">
        <% if event.group_photo.present? %>
          <% photo = event.group_photo %>
        <% else %>
          <% photo = "/assets/Icon_final.png" %>
        <% end %>        
        <img src="<%= photo %>" class="event_photo_index text-centered">
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <!-- <ul> -->
<!--           <li class="location"><%#= truncate(event.venue, length: 25) %> <%#= truncate(event.city, length: 15) %></li>
          <li class="event_date"><%#= date_converter(event.date) %>
           <%#= event.event_date.strftime('%a, %b %d, %Y - %l:%M %p') %></li>
        </ul> -->
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 btn-group" style="margin-top: -10px">
        <button type="button" class="btn btn-default likebutton"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        <button type="button" class="btn btn-default dislikebutton"><span class="glyphicon glyphicon-thumbs-down"></span></button>
        
        
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2"></div>

    </div>

  </div>
  <% end %>
</div>
<!-- End of Event Listing container -->

<!-- Favorite Function -->
<script>
// $(".likebutton").click(function(){
//   $(this).toggleClass('yellow');
//   });
</script>

  
<script>
$(document).ready(function(){

  function swipeleftHandler( event ){
    $( event.target ).parents(".event_wrapper").addClass( "swipeleft" ).delay( 800 ).fadeOut( "slow" );
  }

  $( ".dislikebutton" ).on( "click", swipeleftHandler );

  $( ".likebutton" ).on( "click", swiperightHandler );

  function swiperightHandler( event ){
    $( event.target ).parents(".event_wrapper").toggleClass( "yellow" );
    var e = $(this).closest('.event_wrapper')
    var info = e[0].classList[1]
    var num = parseInt(info)
    checkCookie(num);
    alert(e[0].innerText + 'has been saved')
  }
});

</script>

<script>
var matches = []
var d = document.getElementsByClassName('event_wrapper');
for (var i=0; i<d.length; i++) {
  var id = parseInt(d[i].classList[1])
  if (document.cookie.indexOf('id' + id)!= -1) {
    d[i].className += " yellow";
    matches.push(id);
  }
}
</script>


