<% @email = 'log off ' + current_user.email %>
<nav class="nav">
  <ul class="nav__item-container">
    <li class="nav__item">
      <h1 class="logo">
        <%= link_to(events_path, :class => "logo__link") do %>
          <%= image_tag("Icon_final.png", :class => "navbar-logo") %>
        <% end %>
      </h1>
    </li>
    <li class="nav__item off-canvas__container"
        data-off-canvas-direction="left">
      <a href="/site_map"
         class="nav__item__title
                off-canvas__toggle-button
                icon
                icon--menu">
          Menu
      </a>
      <ul class="nav__item__content off-canvas__content">
        <li class="nav__item">
          <%= link_to(favorite_path, :class => "nav__item__title") do %>
            Favorites
          <% end %>
        </li>
        <li class="nav__item">
          <%= link_to @email, destroy_user_session_path, class: "nav__item__title", method: :delete %>

        </li>
        <li class="nav__item">
          <%= mail_to("rob@accessfuel.com", :class => "nav__item__title") do %>
            Contact
          <% end %>
        </li>
        <li class="nav__item">
          <%= link_to('https://accessfuel.wufoo.com/forms/prototype-feedback-from-awesome-fuelers/', target: "_blank", :class => "nav__item__title" ) do %>
            Send Feedback
          <% end %>
        </li>
      </ul>
    </li>


    <li class="nav__item nav__item--right off-canvas__container"
        data-off-canvas-direction="right">
      <a href="/site_map"
         class="nav__item__title
                off-canvas__toggle-button
                icon
                icon--account">
          Filter Events
      </a>
      <ul class="nav__item__content off-canvas__content">
        <li class="nav__item">
          <%= link_to(favorite_path, :class => "nav__item__title") do %>
            Filter Events
          <% end %>
          <ul class="nav__item__content">
            <li class="nav__item">
              <%= link_to(events_path, :class => "nav__item__title") do %>
                Professional
              <% end %>
            </li>
            <li class="nav__item">
              <%= link_to(events_path, :class => "nav__item__title") do %>
                Education
              <% end %>
            </li>
            <li class="nav__item">
              <%= link_to(events_path, :class => "nav__item__title") do %>
                Tech
              <% end %>
            </li>
            <li class="nav__item">
              <%= link_to(events_path, :class => "nav__item__title") do %>
                Jobs
              <% end %>
            </li>
            <li class="nav__item">
              <%= link_to(events_path, :class => "nav__item__title") do %>
                Online
              <% end %>
            </li>
            <li class="nav__item">
              <%= link_to(events_path, :class => "nav__item__title") do %>
                Networking
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
  

<script>
$('.nav').on('click', '.off-canvas__toggle-button', function(e) {
  e.preventDefault();
  var $el = $(this);
  var direction = $el.parents('.off-canvas__container').data('off-canvas-direction');
  $('.off-canvas').toggleClass('off-canvas--' + direction);
});

$('.off-canvas__content').on('click', '.nav__item__title:not(:only-child)', function(e) {
  e.preventDefault();
  $item = $(this).parent('.nav__item');
  var itemIsOpen = false;
  var $openItems = $item.parents('.nav__item-container').find('.nav__item--open');
  
  // Check if already open
  if ($item.hasClass('nav__item--open')) {
    itemIsOpen = true;
  }
  
  $openItems.removeClass('nav__item--open');
  
  if ( ! itemIsOpen) {
    $item.addClass('nav__item--open');
  }
});
</script>