<div id="nav">
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-collapse collapse" id="nav1">
      </div>
      <a class="navbar-toggle" data-toggle="collapse" data-target="#nav2" id="nav2_icon">
        <span class="hamburger">☰</span>
        <%= link_to image_tag("Icon_final.png", :class => "navbar-brand"), root_path %>
      </a>
      <div class="navbar-collapse collapse" id="nav2">
        <ul class="nav pull-left navbar-nav">
        
          <li><%= link_to(events_path) do %>
            <span class='glyphicon glyphicon-calendar'></span>
          <% end %>
          </li>

          <li><%= link_to(favorite_path) do %>
            <span class='glyphicon glyphicon-star'></span>
          <% end %>
          </li>

          <li><%= mail_to "rob@accessfuel.com" do %>
            <span class="glyphicon glyphicon-envelope"></span>
            <% end %>
          </li>

          <li><%= link_to 'Send Feedback', 'https://accessfuel.wufoo.com/forms/prototype-feedback-from-awesome-fuelers/', target: "_blank" %></li>
        </ul>
      </div> <!-- #id2 -->
    </div> <!-- .container -->
  </div> <!-- .navbar navbar-inverse navbar-static-top -->
</div> <!-- #nav -->
