<nav class="nav-primary" id="nav-primary">
  <div class="af-events">
    <div class="logo">
      <a href="/events">
        <img alt="Icon final" class="navbar-logo" src="/assets/Icon_final.png">
      </a>
    </div>
    <span class="page-title">Events</span>
  </div>
  <ul>
    <li><a href="/users/setting">Select Category</a></li>
    <li>
      <%= mail_to("rob@accessfuel.com", :class => "nav__item__title") do %>
        Contact
      <% end %>
    </li>
    <li>
      <%= link_to('https://accessfuel.wufoo.com/forms/prototype-feedback-from-awesome-fuelers/', target: "_blank") do %>
        Send Feedback
      <% end %>
    </li>
    <% if current_user %>
    <li>
      <%= link_to(logout_path) do %>
        Log Off
      <% end %>
    </li>
    <% else %>
    <li>
      <%= link_to "Log In", login_path %>
      <!-- <a data-toggle="modal" data-target="#myModal2">Log in</a> -->
    </li>
    <li>
      <!-- <a data-toggle="modal" data-target="#myModal">Sign Up</a> -->
      <%= link_to "Sign Up", new_user_path %>
    </li>
    <% end %>
  </ul>

</nav>

<header class="mobile-helper-bar">
  <button class="hamburger" id="off-canvas-toggle">
    <div class="hamburger-bar"></div>
    <div class="hamburger-bar"></div>
    <div class="hamburger-bar"></div>
  </button>
  <div class="logo">
    <%#= link_to(events_path) do %>
      <%#= image_tag("Icon_final.png", :class => "navbar-logo") %>
    <%# end %>
  </div>
  <span class="page-title"><%= @title || "AccessFuel" %></span>
</header>

<script>
$(document).ready(function(){
  // Show the off-canvas navigation
  $('#off-canvas-toggle').click(function() {
    $('#nav-primary').toggleClass('off-canvas-show');
  });


  // Hide the off-canvas nav when clicking a link
  $('#nav-primary').find('a').on('click', function(e) {
    $('#nav-primary').removeClass('off-canvas-show');
  });
});

</script>
