  <!-- Begin Navbar -->
  <div id="nav">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <%= link_to image_tag("Icon_final.png", :class => "navbar-brand"), root_path %>

        <div class="mobileNavIcon">
          <%= link_to(events_path) do %>
           <span class='glyphicon glyphicon-calendar mobileNavIcon'></span>
          <% end %>
        </div>

        <div class="mobileNavIcon">
         <%= link_to(favorite_path) do %>
          <span class='glyphicon glyphicon-star'></span>
         <% end %>
        </div>

        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon glyphicon-align-justify"></span>
        </a>
        <div class="navbar-collapse collapse">
          <ul class="nav pull-left navbar-nav">
            <li><%= link_to(events_path) do %>
              <span class='glyphicon glyphicon-calendar'></span>
            <% end %></li>
            <li><%= link_to(favorite_path) do %>
              <span class='glyphicon glyphicon-star'></span>
            <% end %></li>
            <li><%= mail_to "rob@accessfuel.com" do %>
              <span class="glyphicon glyphicon-envelope"></span>
              <% end %></li>
            <li><%= link_to 'Send Feedback', 'https://accessfuel.wufoo.com/forms/prototype-feedback-from-awesome-fuelers/', target: "_blank" %></li>
            <%= render 'layouts/login' %>
          </ul>
        </div>    
      </div>
    </div><!-- /.navbar -->
  </div>
  <!-- End Navbar -->