<nav class="nav-primary" id="nav-primary">
  <ul>
    <li>
      <%= link_to(favorite_path) do %>
            Favorites
          <% end %>
    </li>
    <li><a href="/users/setting">Select Category</a></li>
    <li>
      <%= mail_to("rob@accessfuel.com", :class => "nav__item__title") do %>
        Contact
      <% end %>
    </li>
    <li>
      <%= link_to('https://accessfuel.wufoo.com/forms/prototype-feedback-from-awesome-fuelers/', target: "_blank") do %>
        Send Feedback
      <% end %>
    </li>
<!--     <#% if current_user %>
    <li>
      <a href="/account/sign_up">
        Sign up
      </a>
    </li>
    <#% else %>
    <li>
      <%#= link_to(logout_path) do %>
        Log Off
      <#% end %>
    </li>
    <#% end %> -->
  </ul>

</nav>

<header class="mobile-helper-bar">
  <button class="hamburger" id="off-canvas-toggle">&#9776;</button>
  <div class="logo">
    <%= link_to(events_path) do %>
      <%= image_tag("Icon_final.png", :class => "navbar-logo") %>
    <% end %>
  </div>
</header>

<script>
$(document).ready(function(){
  // Show the off-canvas navigation
  $('#off-canvas-toggle').click(function() {
    $('#nav-primary').toggleClass('off-canvas-show');
  });


  // Hide the off-canvas nav when clicking a link
  $('#nav-primary').find('a').on('click', function(e) {
    $('#nav-primary').removeClass('off-canvas-show');
  });
});

</script>