<h1> this is the question page <h1>

	<h2>meetup id </h2><%= @meetup_id %>
	<br>

	<h2>UID</h2><%= @user.uid %>
	<br>
	<h2>EID</h2><%= @event.id %>
	<br>


  <% @questions.each do |question| %>
    <% if question.event === @event.id %>
      <h2><%= question.poll %></h2>
      <%= form_for @answer do |f| %>
        <%= f.hidden_field :event, :value => params[:id]  %>
        <%= f.hidden_field :question, :value => question.id %>
        <%= f.hidden_field :user, :value => current_user.id %>
        <%= f.text_field :response %>
        <%= f.submit %>
      <% end %>
      <% else %>
      <% end %>
  <% end %>
  





	



<%= @data %>







