<style>
	.rsvp {
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 10px;
	}

	.fa-users, .rsvp_badge, .fa-calendar, .fa-heart {
		color: black;
	}

	
</style>

<!-- Container for event photo and description -->
<div id="whole_thang">
	<section class="description">
		<div class="container-fluid">
			<div class="row group_photo_row">
				<div class="col-md-12 text-center">
					<img src="<%= @event.group_photo %>" class="group_photo">
				</div>
			</div>

		<!-- Bottom Fixed Navigation -->
		<nav class="navbar navbar-default" id="bottom_nav" role="navigation">
		  <div class="container bottom_container">
				 <div class="row">
					<div class="col-xs-4">
						<p style="margin: 0px;"><button class="fa fa-calendar"></button>
							<!-- <i class="fa fa-heart"></i> -->

						</p>
					</div>
					<div class="col-xs-4">
						<p><%= link_to "RSVP", @event.url, class: "rsvp" %></p>
					</div>
					<div class="col-xs-4 text-right">
						<p> 
							<i class="fa fa-users"></i>
							<i class="rsvp_badge"> <%= @event.rsvp %> </i>
						</p>
					</div>
				</div>
		  </div>
		</nav>

		<div class="row">
			<div class="col-md-12 text-center">
			<h1 class="event_name text-center" data-toggle="collapse" data-target="#demo"><%= @event.name %></h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p class="text-center">
				<%= @event.event_date.strftime('%a, %b %d @ %l:%M %p') %></p>
				<p class="text-center">Hosted by <%= @event.group %></p>
				<p class="text-center">@<%= @event.venue %> <%= @event.city %></p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 event_description">
				<%= truncate(strip_tags(@event.description), length: 500) %>
			</div>
		</div>
	</section>
</div>

<!-- #### Script for Favorite function -->
<script>
$(".glyphicon-star.index").click(function(){
	$(this).toggleClass('yellow');
	});
</script>

<script>
	addYellowClass();
</script>

<script>
$('#whole_thang').on('swipe', function(){
	alert('hi');
})
</script>


