<h1>New answer</h1>


<%= form_for @event do |f| %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  	<%= f.fields_for :questions do |b| %>
  <p>
  
  		<%= b.text_field :poll%><br />
  			<%= form_for @answer do |x| %>
  				
  				<%= x.text_field :response %>
  				
  				
  			
			<% end %>
  
</p>

    
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>

<%= link_to 'Back', answers_path %>
