<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :response %><br>
    <%= f.text_field :response %>
  </div>
  <div class="field">
    <%= f.label :question %><br>
    <%= f.number_field :question %>
  </div>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.number_field :event, :value => params[:id]  %>
  </div>
  <div class="field">
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
