<% @title = "General Assembly" %>
<%= render 'events/nav_bar' %>
<div class="ga-body">

<div class="ga-content ga-header">Welcome to the General Assembly page on AccessFuel.</div>

<div class="ga-logo-container">
  <%= image_tag("Icon_final.png", :class => "af-partnership-logo") %>
</div>
<div class="ga-logo-container">
  <%= image_tag("GA_logo.svg", :class => "ga-partnership-logo") %>
</div>

<div class="ga-content">
  <div class="ga-subheader">Get access to:</div>

<div class="ga-bullet-points">
  <span class="ga-number">1.</span> GA Alumni events, networking and connection on the GA-LA meetup page.
  <%= link_to("http://www.meetup.com/General-Assembly-Alumni-in-Los-Angeles-GA-LA/") do %>
    View more
  <% end %>
</div>
<div class="ga-bullet-points">
  <span class="ga-number">2.</span> Discover great networking events (including GA events).
  <br>
  <%= link_to(root_path) do %>
    View more
  <% end %>
</div>

</div>

</div><!-- /.ga-body -->
